body {
  font-family: Courier;
  background-color: ghostwhite;
}
.container {
  margin-top: 4%;
  margin-left: 36%;
}
h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
.row {
  display: inline-block;
  width: 100%;
}
.square {
  height: 3em;
  width: 3em;
  margin: 1px 1px 1px 1px;
  position: relative;
  float: left;
  opacity: 0.8;
}
.blackSquare {
  background-color: indianred;
}
.whiteSquare {
  background-color: cornsilk;
}
.selected {
  background-color: navy;
  opacity: 0.5;
}
#warning {
  display: none;
}
#instructions {
  display: none;
}

/* Display error if the screen is too small */
@media only screen and (max-width: 700px) {
  .container {
    display: none;
  }
  #viewer {
    display: none;
  }
  #warning {
    display: inline-block;
  }
}